<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         backupGlobals="false"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Application Unit Test">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage
        cacheDirectory="./coverage/tmp"
        includeUncoveredFiles="true"
        processUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="./coverage/clover.xml"/>
            <crap4j outputFile="./coverage/crap4j.xml" threshold="50"/>
            <html outputDirectory="./coverage/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="./coverage/coverage.php"/>
            <text outputFile="./coverage/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="./coverage/xml-coverage"/>
        </report>
    </coverage>
    <php>
        <env name="foo" value="bar" force="true"/>
        <env name="XDEBUG_MODE" value="coverage"/>
    </php>
    <!-- <logging>
        <log
            type="coverage-html"
            target="./tmp/coverage/html"
            charset="UTF-8"
            highlight="true"
            lowUpperBound="60"
            highLowerBound="90"
        />
        <log
            type="coverage-clover"
            target="./tmp/coverage/clover.xml"
        />
    </logging> -->
</phpunit>
